# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
*.venv/
*.env

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__init__.py

# Database files
*.sqlite3

# Static files
media/

# IDE and editor files
*.swp
*.swo
*.idea/
*.vscode/

# Log files
*.log

# Environment variables
.env

# Other files
*.DS_Store
*.egg-info/
*.egg